<div id="content">
  <h1>About</h1>

  <ul id="crumbs">
    <li><a href="/">Home</a> &raquo;</li>
    <li>About</li>
  </ul>

  <h2>What's it all about?</h2>

  <p>First and foremost, the inspiration for this site comes (almost) entirely from <a href="http://markpasc.org/mark/">Mark Paschal</a>. He built the terrific <a href="http://isthereagiantsga.me/">Is there a Giants game?</a>. (If you don&rsquo;t know it already, check it out!)</p>

  <p>The other inspiration was my wife. She&rsquo;s a huge <a href="http://capitals.nhl.com/">Washington Capitals</a> fan, and I thought it would make a fun gift for her if I built a site like <a href="http://isthereagiantsga.me">Is there a Giants game?</a>, but for the Caps.</p>

  <p>(Thanks to <a href="http://www.ssur.org/research/TeamColors/Hockey/NationalHockeyLeague/NationalHockeyLeague.htm">ColorWerx</a> for providing the RGB information for the Caps colors.)</p>

  <h2>This section mostly for geeks</h2>

  <p>I wrote this mini-app using <a href="http://www.sinatrarb.com">Sinatra</a>, a Ruby framework for web applications. <a href="http://www.heroku.com/">Heroku</a> provides the hosting. The source code <a href="https://github.com/telemachus/isthereacapsgame">is available on Github</a>. You can feel free to use the code however you like. Even better, if you can think of any improvements, you can post an issue there or submit a pull request. If you're a Caps fan, but not a geek, you can still help out. If you see anything wrong with the site, let me know <a href="https://twitter.com/#!/telemachus">on Twitter</a>. Otherwise, just enjoy the site.</p>
</div>
